* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'space_invaders';
  src: url('../assets/space-invaders/space_invader.woff') format('woff');
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: url("assets/background4.png");
}

.content {
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  /* border: 1px chartreuse solid;  */
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  /* border: 1px solid; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.player {
  background-image: url(assets/Ship.png);
  background-size: 80px;
  background-position: center;
  /* background-position-x: 0;
  background-position-y: 0; */
}

.laser {
  background-image: url(assets/lazer2.png);
  background-size: 60px;
  background-position: center;
  /* background-position-x: 0;
  background-position-y: 0; */
}

.alien {
  background-image:url(assets/Alien2.png);
  background-size: 70px;
  background-position: center;
  /* background-position-x: 0;
  background-position-y: 0; */
}

div.wrapper {

	display: flex;
	width: 600px;
	height: 600px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div.content { 

	display: flex;
	border: 5px black solid;
	width: 600px;
	height: 600px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  margin-right: 100px;
  flex-direction: row;
}

body > div.wrapper > div > div.Logo{ 

	display: flex;
	width: 500px;
	height: 200px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  border: 5px yellow  solid; 
  background-color: black;
}


body > div.wrapper > div > div.Scores { 

	display: flex;
	/* border: 5px chartreuse solid; */
	width: 500px;
	height: 150px;
	justify-content: center;
	align-items: center;
  margin: 10px;

}

body > div.wrapper > div > div.Buttons { 

	display: flex;
	/* border: 5px black solid; */
	width: 500px;
	height: 150px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  font-family: 'space_invaders';
}

body > div.wrapper > div > div.Scores > div.Score1 {
  display: flex;
	border: 5px yellow  solid;
	width: 250px;
	height: 100px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  font-family: 'space_invaders';
  font-size: 50px;
  color: chartreuse;
  background-color: black;

}

body > div.wrapper > div > div.Scores > div.Score2 {
  display: flex;
	border: 5px yellow solid;
	width: 250px;
	height: 100px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  font-family: 'space_invaders';
  font-size: 50px;
  color: chartreuse;
  background-color: black;
}

body > div.wrapper > div > div.Buttons > div.START {
  display: flex;
	border: 5px yellow  solid;
	width: 250px;
	height: 100px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  font-family: 'space_invaders';
  color: chartreuse;
  background-color: black;

}

body > div.wrapper > div > div.Buttons > div.RESET {
  display: flex;
	border: 5px yellow  solid;
	width: 250px;
	height: 100px;
	justify-content: center;
	align-items: center;
  margin: 10px;
  font-family: 'space_invaders';
  background-color: black;
}

body > div.wrapper > div > div.Buttons > div.START > button {
  -webkit-appearance: none;
  font-family: 'space_invaders';
  font-size: 50px;
  border: none;
  color: chartreuse;
  background-color: black;
}

body > div.wrapper > div > div.Buttons > div.RESET > button {
  -webkit-appearance: none;
  font-family: 'space_invaders';
  font-size: 50px;
  border: none;
  color: chartreuse;
  background-color: black;
}

h2 {
  font-family: 'space_invaders';
  font-size: 50px;
  border: none;
  color: chartreuse;
  justify-content: center;
	align-items: center;
}

.message {
  display: none;
  color: chartreuse;
  font-family: 'space_invaders';
  font-size: 50px;
}

.message2 {
  display: none;
  color: chartreuse;
  font-family: 'space_invaders';
  font-size: 50px;
}

/* .grid div.player[data-direction="forward"] {
  transform: scaleX(1)
}

.grid div.player[data-direction="backward"] {
  transform: scaleX(-1)
}

.grid div.player[data-step="0"] {
  background-position-x: 1080px;
  background-position-y: 0;
}

.grid div.player[data-step="1"] {
  background-position-x: 2160px;
  background-position-y: 0;
}

.grid div.player[data-step="2"] {
  background-position-x: 3240px;
  background-position-y: 0;
}

.grid div.player[data-step="3"] {
  background-position-x: 4320px;
  background-position-y: 0;
}

.grid div.player[data-step="4"] {
  background-position-x: 5400px;
  background-position-y: 0;
}

.grid div.player.surprise {
  background-position-x: 120px;
  background-position-y: -120px;
} */
